<ul class="list-group list-group-flush">
  <% customer.notes.each do |note| %>
    <li class="list-group-item">
      <%= render 'notes/customer_note', customer: customer, note: note %>
    </li>
  <% end %>
</ul>
