<div class= "card-deck-wrapper">
  <div class='card-deck'>
    <% contact_cards.each do |card| %>
      <div class="card">
        <div id="<%= "contact_#{card.id}_card" %>">
          <%= render 'contact_cards/contact_card', card: card %>
        </div>
      </div>
    <% end %>
  </div>
</div>
