<h1> <%= @company.name%> Dashboard</h1>
<%= render 'layouts/company_pills', company: @company %>


<%= render 'events/events', events: @events unless params[:tab] %>
<%= render 'documents/documents', documents: @company.documents if params[:tab] == "docs" %>
