<ul class="list-group list-group-flush">

    <div class="row">

    </div>

    <div id="info-list-group">
      <%= render 'infos/info_list_group', info: info %>
    </div>

    <div class="row">
      <li class="list-group-item"><h2>Notes</h2></li>
    </div>

    <% info.notes.each do |note| %>
    <div class="row">
      <li class="list-group-item" id=<%= "note_#{note.id}_li" %>>
        <%= render 'notes/info_note', note: note, info: info %>
      </li>
    </div>
    <% end %>
    <%= render "notes/form", notable: info %>
</ul>
